body {
	/* margin: 0;
	padding: 0; */
}

.item-done {
	text-decoration: line-through;
	font-style: italic;
}

.application {
	height: 100vh;
}

.btn-add {
	background-color: green;
	width: 80px;
	color: honeydew;
}


.btn-add:hover {
	background-color: rgb(27, 165, 8);
	color: honeydew;
}

.form-control {
	border: 2px solid blue;
	height: 70px;
	margin-bottom: 2px;
}
